body {
	background:#888888;
	margin: 0;
}

#content{
	width: 800px;
	margin: 0 auto;
	background: white;
	padding: 5px;
	border: 1px solid #555555;
}

#menu {
	width: 800px;
	float:left;
	margin-bottom: 30px;
}

#menu ul li {
	float: left;
	display: block;
	min-width: 100px;
	height: 50px:
	border: 1px solid #eee; 
	padding: 5px;
}

 table {
 	width: 100%;
 }
 
 th {
 	background:black;
 	color:white;
 }
 
 th.actions {
 	background: none;
 }
 
 tr.even td{
 	background: #eee;
 }
 
 .money {
 	text-align: right;
 	color: blue;
 	padding-right: 5px;
 }
 tr.despesa .money {
 	color: red;
 }
 
 th.actions {
 	width: 30px;
 }
